{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}" class="h-100">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
{#        {% do assets.addCss('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"', 100) %}#}
        {% do assets.addCss('theme://css/bootstrap.css', 99) %}
        {% do assets.addCss('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', 98) %}
        {% do assets.addCss('https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css', 97) %}
        {% do assets.addCss('theme://css/custom.css', 96) %}

    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJS('theme://js/jquery-3.6.0.min.js', 101) %}
        {% do assets.addJS('theme://js/bootstrap.bundle.js', 100) %}
        {% do assets.addJS('user://plugins/flex-objects/js/list.min.js', 99) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>

{% block body %}
<body class="d-flex flex-column h-100 bg-light">
    {% include 'partials/navigation.html.twig' %}

    <main class="flex-shrink-0" style="padding-top: 80px;">
        <div class="container">
        {% block content %}
        {% endblock %}
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <span class="text-muted">Copyright © {{ now|date("Y") }} Jacob Mastel</span>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
