{% set theme_config = attribute(config.themes, config.system.pages.theme) %}

<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"', 100) %}
        {% do assets.addCss('theme://css/bootstrap.css', 98) %}
        {% do assets.addCss('theme://css/fontawesome-all.css', 99) %}
        {% do assets.addCss('theme://css/gallery.css', 95) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/site.js', 99) %}
        {% do assets.addJS('theme://js/bootstrap.bundle.js', 98) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>

<body>

{% block body %}
    <div class="container">
        {#
            This row will show the title bar, which should always be visible.
            The menu within however, will only be visible at certain sizes.
         #}
        <div class="row">
            {% include 'partials/navigation.html.twig' %}
        </div>

        <div class="row">
            <div class="col-4">
                {# the sidebar will go here #}
                {# {% include 'partials/sidebar.html.twig' %} #}
            </div>
            <div class="col-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
