{% set value = (value is null ? field.default : value) %}

<div class="mb-3">
    <label class="form-label">
            {% if field.help %}
            <span class="tooltip" data-asTooltip-position="w" title="{{ field.help|e }}">{{ field.label|default(field.name|capitalize)|t }}</span>
            {% else %}
            {{ field.label|default(field.name|capitalize)|t }}
            {% endif %}
            {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
    </label>
    <textarea
        rows="10"
        class="form-control"
        name="{{ (scope ~ field.name)|fieldName }}"
        {% if field.id %}id="{{ field.id }}"{% endif %}
    >{{ value|join("\n") }}</textarea>
</div>
