{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="row">
	<div class="col">
		<h1 class="display-1">{{ page.title }}</h1>

		<p class="lead">by {{ site.author.name }}</p>
	</div>
	<hr>
</div>

<div class="row">
	<div class="col-xs-12">
		<p><i class="fa fa-calendar"></i> Posted on {{ page.date|date("F d, Y") }}</p>

		{% if page.taxonomy.tag %}
		<p><i class="fa fa-tags"></i> Tags:
			{% for tag in page.taxonomy.tag %}
			<span class="badge bg-secondary">{{ tag }}</span>

			{% endfor %}
		</p>
		{% endif %}
	</div>

	<div class="col-xs-12 col-sm text-right">
		<p><i class="fa fa-share-alt"></i> Share:
			<span>
				<a class="fab fa-facebook color-facebook"
					href="https://www.facebook.com/sharer/sharer.php?u={{ page.url(true) }}"></a>
			</span>
			<span>
				<a class="fab fa-twitter color-twitter"
					href="https://twitter.com/intent/tweet/?text={{ page.title }}&url={{ page.url(true) }}"></a>
			</span>
			<span>
				<a class="fab fa-reddit color-reddit"
					href="https://www.reddit.com/submit/?url={{ page.url(true) }}"></a>
			</span>
		</p>
	</div>
	<hr>
</div>

<div class="row">
	<div class="col">
		{{ content }}
	</div>
</div>
{% endblock %}
