{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="blog-post">
		<h1>{{ page.title }}</h1>

		<div class="blog-post-details valign">
			<div class="valign-item">
				<span class="left">{{ page.date|date("M d, Y") }}</span>
			</div>

			<div class="valign-item">
				<ul class="social-bar right">
					<li>
						<a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url(true) }}"><i class="fa fa-2x fa-facebook color-facebook"></i></a>
					</li>
					<li>
						<a href="https://twitter.com/intent/tweet/?text={{ page.title }}&url={{ page.url(true) }}"><i class="fa fa-2x fa-twitter color-twitter"></i></a>
					</li>
					<li>
						<a href="http://www.reddit.com/submit/?url={{ page.url(true) }}"><i class="fa fa-2x fa-reddit-alien color-reddit"></i></a>
					</li>
				</ul>
			</div>
		</div>

		{% include 'partials/color_band.html.twig' %}

		{{ content }}
	</div>
{% endblock %}