{% set value = (value is null ? field.default : value) %}

<div class="mb-3">
    <label class="form-label">
            {% if field.help %}
                <span class="tooltip" data-asTooltip-position="w" title="{{ field.help|e }}">{{ field.label|default(field.name|capitalize)|t }}</span>
            {% else %}
                {{ field.label|default(field.name|capitalize)|t }}
            {% endif %}
            {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
    </label>
    <span class="btn btn-default btn-file">
        Browse File...<input type="file" name="{{ (scope ~ field.name)|fieldName }}" value="" />
    </span>
</div>
